<a href="https://colab.research.google.com/github/ahsanrazi/W3_Python/blob/main/03_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variables

In [1]:
# Variables are containers for storing data values.

In [2]:
# Python has no command for declaring a variable.
# A variable is created the moment we first assign a value to it.

x = 5
y = "John"
print(x)
print(y)

5
John

In [4]:
# Variables do not need to be declared with any particular type, and can even change type after they have been set.

x = 4       # x is of type int
print(x)
x = "Sally" # x is now of type str
print(x)

4
Sally

# Casting

In [5]:
# If we want to specify the data type of a variable, this can be done with casting.

x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

# Get the Type

In [6]:
# We can get the data type of a variable with the type() function.

x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [7]:
# String variables can be declared either by using single or double quotes.

x = "John"
# is the same as
x = 'John'

# Case-Sensitive

In [9]:
# Variable names are case-sensitive.

a = 4
A = "Sally"

# A will not overwrite a

# Variable Names

In [10]:
# A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume).

# Rules for Python variables:
# A variable name must start with a letter or the underscore character.
# A variable name cannot start with a number.
# A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).
# Variable names are case-sensitive (age, Age and AGE are three different variables).
# A variable name cannot be any of the Python keywords.

In [11]:
# Legal variable names:

myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [12]:
# Illegal variable names:

2myvar = "John"
my-var = "John"
my var = "John"

# Multi Words Variable Names

In [13]:
# Variable names with more than one word can be difficult to read. There are several techniques you can use to make them more readable.

### Camel Case

In [14]:
# Each word, except the first, starts with a capital letter.

myVariableName = "John"

### Pascal Case

In [15]:
# Each word starts with a capital letter.

MyVariableName = "John"

### Snake Case

In [16]:
# Each word is separated by an underscore character

my_variable_name = "John"

# Assign Multiple Values

### Many Values to Multiple Variables

In [17]:
# Python allows us to assign values to multiple variables in one line.

x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

# Make sure the number of variables matches the number of values, or else you will get an error.

Orange
Banana
Cherry

### One Value to Multiple Variables

In [18]:
# And we can assign the same value to multiple variables in one line.

x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Unpack a Collection

In [20]:
# If we have a collection of values in a list, tuple etc. Python allows us to extract the values into variables. This is called unpacking.

fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# Output Variables

In [21]:
#The Python print() function is often used to output variables.

x = "Python is awesome"
print(x)

Python is awesome

In [33]:
# In the print() function, we output multiple variables, separated by a comma.

x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [31]:
# We can also use the (+) operator to output multiple variables.

x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

# Notice the space character after "Python " and "is ", without them the result would be "Pythonisawesome".

Python is awesome

In [34]:
# For numbers, the (+) character works as a mathematical operator.

x = 5
y = 10
print(x + y)

15

In [35]:
# In the print() function, when we try to combine a string and a number with the + operator, Python will give us an error.

x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [36]:
# The best way to output multiple variables in the print() function is to separate them with commas, which even support different data types

x = 5
y = "John"
print(x, y)

5 John

# Global Variables

In [39]:
# Variables that are created outside of a function (as in all of the examples above) are known as global variables.

# Global variables can be used by everyone, both inside of functions and outside.

In [40]:
# Create a variable outside of a function, and use it inside the function

x = "awesome"

def myfunc():
  print("Python is " + x)

myfunc()

Python is awesome

In [41]:
# If we create a variable with the same name inside a function, this variable will be local, and can only be used inside the function.
# The global variable with the same name will remain as it was, global and with the original value.

In [42]:
# Create a variable inside a function, with the same name as the global variable.

x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

# global Keyword

In [43]:
# Normally, when we create a variable inside a function, that variable is local, and can only be used inside that function.
# To create a global variable inside a function, you can use the (global keyword).

In [44]:
# If we use the (global keyword), the variable belongs to the global scope.

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [45]:
# Also, use the global keyword if we want to change a global variable inside a function.

# To change the value of a global variable inside a function, refer to the variable by using the (global keyword).

x = "awesome"

def myfunc():
  global x
  x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic