<a href="https://colab.research.google.com/github/ahsanrazi/W3_Python/blob/main/07_Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Strings

In [1]:
# Strings in python are surrounded by either single quotation marks, or double quotation marks.
# 'hello' is the same as "hello".

# You can display a string literal with the print() function:
print("Hello")
print('Hello')

Hello
Hello

# Quotes Inside Quotes

In [2]:
# We can use quotes inside a string, as long as they don't match the quotes surrounding the string.

print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

# Assign String to a Variable

In [3]:
# Assigning a string to a variable is done with the variable name followed by an equal sign and the string.

a = "Hello"
print(a)

Hello

# Multiline Strings

In [4]:
# We can assign a multiline string to a variable by using three double quotes.

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [5]:
# Or three single quotes

a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''

print(a)

# In the result, the line breaks are inserted at the same position as in the code.

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

# Strings are Arrays

In [7]:
# Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.
# Python does not have a character data type, a single character is simply a string with a length of 1.
# Square brackets can be used to access elements of the string.

# Get the character at position 1 (remember that the first character has the position 0)
a = "Hello, World!"
print(a[1])

e

# Looping Through a String

In [8]:
# Since strings are arrays, we can loop through the characters in a string, with a for loop.
for x in "banana":
  print(x)

b
a
n
a
n
a

# String Length

In [9]:
# To get the length of a string, use the len() function.

a = "Hello, World!"
print(len(a))

13

# Check String

In [10]:
# To check if a certain phrase or character is present in a string, we can use the keyword (in).

# Check if "free" is present in the following text.
txt = "The best things in life are free!"
print("free" in txt)

True

In [11]:
# Use it in an if statement:

txt = "The best things in life are free!"

if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

# Check if NOT

In [12]:
# To check if a certain phrase or character is NOT present in a string, we can use the keyword (not in).

# Check if "expensive" is NOT present in the following text
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [13]:
# Use it in an if statement

txt = "The best things in life are free!"

if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

# Slicing Strings

In [17]:
# We can return a range of characters by using the slice syntax.
# Specify the start index and the end index, separated by a colon, to return a part of the string.

# Get the characters from position 2 to position 5(not included)
b = "Hello, World!"
print(b[2:5])

# Note: The first character has index 0.

llo

## Slice From the Start

In [18]:
# By leaving out the start index, the range will start at the first character.

# Get the characters from the start to position 5 (not included)
b = "Hello, World!"
print(b[:5])

Hello

## Slice To the End

In [19]:
# By leaving out the end index, the range will go to the end.

# Get the characters from position 2, and all the way to the end.
b = "Hello, World!"
print(b[2:])

llo, World!

## Negative Indexing

In [21]:
# Use negative indexes to start the slice from the end of the string.

# Get the characters:
# From: "o" in "World!" (position -5) To "d" (but not included) in "World!" (position -2):

b = "Hello, World!"
print(b[-5:-2])

orl

# Modify Strings

In [22]:
# Python has a set of built-in methods that we can use on strings.

## Upper Case

In [23]:
# The upper() method returns the string in upper case.

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

## Lower Case

In [26]:
# The lower() method returns the string in lower case.

a = "Hello, World!"
print(a.lower())

hello, world!

## Remove Whitespace

In [27]:
# Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

# The strip() method removes any whitespace from the beginning or the end:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

## Replace String

In [28]:
# The replace() method replaces a string with another string.

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

## Split String

In [29]:
# The split() method returns a list where the text between the specified separator becomes the list items.

# The split() method splits the string into substrings if it finds instances of the separator.
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

# String Concatenation

In [30]:
# To concatenate, or combine, two strings you can use the + operator.

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [32]:
# To add a space between them, add a (" ")

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

# Format - Strings

In [33]:
# we cannot combine strings and numbers like this.

age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [39]:
# But we can combine strings and numbers by using f-strings or the format() method!

# To specify a string as an f-string, simply put an f in front of the string. Add curly brackets {} as placeholders for variables and other operations.

age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

## Placeholders and Modifiers

In [36]:
# A placeholder can contain variables, operations, functions, and modifiers to format the value.

price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [37]:
# A placeholder can include a modifier to format the value.
# A modifier is included by adding a colon : followed by a legal formatting type, like .2f which means fixed point number with 2 decimals.

price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [38]:
# A placeholder can contain Python code, like math operations.

txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

# Escape Characters

In [40]:
# To insert characters that are illegal in a string, use an escape character.
# An escape character is a backslash \ followed by the character you want to insert.

In [41]:
# We will get an error if you use double quotes inside a string that is surrounded by double quotes.

txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (<ipython-input-41-7f0bc10143ae>, line 3)

In [43]:
# The escape character allows you to use double quotes when you normally would not be allowed

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [44]:
# Escape characters used in Python


# Code	       Result

# \'	         Single Quote
# \\	         Backslash
# \n	         New Line
# \r	         Carriage Return
# \t	         Tab
# \b	         Backspace
# \f	         Form Feed
# \ooo	       Octal value
# \xhh	       Hex value

In [45]:
txt = 'It\'s alright.'
print(txt)

It's alright.

In [46]:
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [47]:
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [48]:
txt = "Hello\rWorld!"
print(txt)

World!

In [49]:
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [50]:
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [51]:
# A backslash followed by three integers will result in a octal value

txt = "\110\145\154\154\157"
print(txt)

Hello

In [52]:
# A backslash followed by an 'x' and a hex number represents a hex value

txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello