<a href="https://colab.research.google.com/github/ahsanrazi/W3_Python/blob/main/09_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators

In [ ]:
# Operators are used to perform operations on variables and values.

print(10 + 5)

15

In [ ]:
# Python divides the operators in the following groups:

# Arithmetic operators
# Assignment operators
# Comparison operators
# Logical operators
# Identity operators
# Membership operators
# Bitwise operators

# Arithmetic Operators

In [ ]:
# Arithmetic operators are used with numeric values to perform common mathematical operations.

# Operator	           Name	               Example
# +	                   Addition	           x + y
# -	                   Subtraction	       x - y
# *	                   Multiplication	     x * y
# /	                   Division	           x / y
# %	                   Modulus	           x % y
# **	                 Exponentiation	     x ** y
# //	                 Floor division	     x // y

In [ ]:
# +	                   Addition	           x + y

x = 5
y = 3

print(x + y)

8

In [ ]:
# -	                   Subtraction	       x - y

x = 5
y = 3

print(x - y)

2

In [ ]:
# *	                   Multiplication	     x * y

x = 5
y = 3

print(x * y)

15

In [ ]:
# /	                   Division	           x / y

x = 12
y = 3

print(x / y)

4.0

In [ ]:
# %	                   Modulus	           x % y

x = 5
y = 2

print(x % y)
# the modulus operator gives the remainder value as a result

1

In [ ]:
# **	                 Exponentiation	     x ** y

x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [ ]:
# //	                 Floor division	     x // y

x = 15
y = 2

print(x // y)

# the floor division // rounds the result down to the nearest whole number

7

# Assignment Operators

In [ ]:
# Assignment operators are used to assign values to variables.

# Operator	               Example	          Same As
# =	                       x = 5	            x = 5
# +=	                     x += 3	            x = x + 3
# -=	                     x -= 3	            x = x - 3
# *=	                     x *= 3	            x = x * 3
# /=	                     x /= 3	            x = x / 3
# %=	                     x %= 3	            x = x % 3
# //=	                     x //= 3	          x = x // 3
# **=	                     x **= 3	          x = x ** 3
# &=	                     x &= 3	            x = x & 3
# |=	                     x |= 3	            x = x | 3
# ^=	                     x ^= 3	            x = x ^ 3
# >>=	                     x >>= 3	          x = x >> 3
# <<=	                     x <<= 3	          x = x << 3
# :=	                     print(x := 3)	    x = 3
#                                             print(x)

In [ ]:
# =	                       x = 5	            x = 5

x = 5

print(x)

5

In [ ]:
# +=	                     x += 3	            x = x + 3

x = 5
x += 3

print(x)

8

In [ ]:
# -=	                     x -= 3	            x = x - 3

x = 5
x -= 3

print(x)

2

In [ ]:
# *=	                     x *= 3	            x = x * 3

x = 5
x *= 3

print(x)

15

In [ ]:
# /=	                     x /= 3	            x = x / 3

x = 5
x /= 3

print(x)

1.6666666666666667

In [ ]:
# %=	                     x %= 3	            x = x % 3

x = 5
x %= 3

print(x)

2

In [ ]:
# //=	                     x //= 3	          x = x // 3

x = 5
x //= 3

print(x)

1

In [ ]:
# **=	                     x **= 3	          x = x ** 3

x = 5
x **= 3

print(x)

125

In [1]:
# &=	                     x &= 3	            x = x & 3

x = 5
x &= 3

print(x)
# The bitwise AND operator compares each bit of the two numbers 101(5) | 011(3) = 001(1)

1

In [2]:
# |=	                     x |= 3	            x = x | 3

x = 5
x |= 3

print(x)
# The bitwise OR operator compares each bit of the two numbers 101(5) | 011(3) = 111(7)

7

In [4]:
# ^=	                     x ^= 3	            x = x ^ 3

x = 5
x ^= 3

print(x)
# The bitwise XOR operator compares each bit of the two numbers 101(5) | 011(3) = 110(6)

6

In [6]:
# >>=	                     x >>= 3	          x = x >> 3

x = 5
x >>= 3

print(x)
# Bitwise Right Shift
# Original:    00000101  (5 in binary)
# Shifted:     00000000  (after shifting right by 3)
# When we shift bits to the right, we effectively divide the number by 2^n where n is the number of positions shifted.

0

In [8]:
# <<=	                     x <<= 3	          x = x << 3

x = 5
x <<= 3

print(x)
# Bitwise Left Shift
# Original:    00000101  (5 in binary)
# Shifted:     00101000  (after shifting left by 3)
# When we shift bits to the right, we effectively multiply the number by 2^n where n is the number of positions shifted.

40

In [10]:
# :=	                print(x := 3)	        x = 3
#                                           print(x)

print(x := 3)
# The expression x := 3 assigns the value 3 to the variable x. The assignment occurs within the print() function call.

3

# Comparison Operators

In [13]:
# Comparison operators are used to compare two values

# Operator	              Name	                        Example
# ==	                    Equal	                        x == y
# !=	                    Not equal	                    x != y
# >	                      Greater than	                x > y
# <	                      Less than	                    x < y
# >=	                    Greater than or equal to	    x >= y
# <=	                    Less than or equal to	        x <= y

In [14]:
# ==	                    Equal	                        x == y

x = 5
y = 3

print(x == y)
# returns False because 5 is not equal to 3

False

In [15]:
# !=	                    Not equal	                    x != y

x = 5
y = 3

print(x != y)
# returns True because 5 is not equal to 3

True

In [16]:
# >	                      Greater than	                x > y

x = 5
y = 3

print(x > y)
# returns True because 5 is greater than 3

True

In [17]:
# <	                      Less than	                    x < y

x = 5
y = 3

print(x < y)
# returns False because 5 is not less than 3

False

In [19]:
# >=	                    Greater than or equal to	    x >= y

x = 5
y = 3

print(x >= y)
# returns True because 5 is greater, or equal, to 3

True

In [20]:
# <=	                    Less than or equal to	        x <= y

x = 5
y = 3

print(x <= y)
# returns False because 5 is neither less than or equal to 3

False

# Logical Operators

In [21]:
# Logical operators are used to combine conditional statements


# Operator	       Description	                                                    Example
# and 	           Returns True if both statements are true	                        x < 5 and  x < 10
# or	             Returns True if one of the statements is true	                  x < 5 or x < 4
# not	             Reverse the result, returns False if the result is true	        not(x < 5 and x < 10)

In [22]:
# and 	           Returns True if both statements are true	                        x < 5 and  x < 10	x = 5

x = 5

print(x > 3 and x < 10)
# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [23]:
# or	             Returns True if one of the statements is true	                  x < 5 or x < 4

x = 5

print(x > 3 or x < 4)
# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [24]:
# not	             Reverse the result, returns False if the result is true	        not(x < 5 and x < 10)

x = 5

print(not(x > 3 and x < 10))
# returns False because not is used to reverse the result

False

# Identity Operators

In [25]:
# Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

# Operator	         Description	                                                 Example
# is 	               Returns True if both variables are the same object	           x is y
# is not	           Returns True if both variables are not the same object	       x is not y

In [27]:
# is 	               Returns True if both variables are the same object	           x is y

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
# returns True because z is the same object as x

print(x is y)
# returns False because x is not the same object as y, even if they have the same content

print(x == y)
# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [28]:
# is not	           Returns True if both variables are not the same object	       x is not y

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is not z)
# returns False because z is the same object as x

print(x is not y)
# returns True because x is not the same object as y, even if they have the same content

print(x != y)
# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
False

# Membership Operators

In [36]:
# Membership operators are used to test if a sequence is presented in an object.

# Operator	       Description	                                                                          Example
# in 	             Returns True if a sequence with the specified value is present in the object	          x in y
# not in	         Returns True if a sequence with the specified value is not present in the object       x not in y

In [37]:
# in 	             Returns True if a sequence with the specified value is present in the object	          x in y

x = ["apple", "banana"]

print("banana" in x)
# returns True because a sequence with the value "banana" is in the list

True

In [38]:
# not in	         Returns True if a sequence with the specified value is not present in the object       x not in y

x = ["apple", "banana"]

print("pineapple" not in x)
# returns True because a sequence with the value "pineapple" is not in the list

True

# Bitwise Operators

In [40]:
# Bitwise operators are used to compare (binary) numbers

# Operator	 Name	                    Description	                                                                                              Example
# & 	       AND	                    Sets each bit to 1 if both bits are 1	                                                                     x & y
# |	         OR	                      Sets each bit to 1 if one of two bits is 1	                                                               x | y
# ^	         XOR	                    Sets each bit to 1 if only one of two bits is 1	                                                           x ^ y
# ~	         NOT	                    Inverts all the bits	                                                                                     ~x
# <<	       Zero fill left shift	    Shift left by pushing zeros in from the right and let the leftmost bits fall off	                         x << 2
# >>	       Signed right shift	      Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall off	   x >> 2