<a href="https://colab.research.google.com/github/ahsanrazi/W3_Python/blob/main/09_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operators

In [1]:
# Operators are used to perform operations on variables and values.

print(10 + 5)

15

In [ ]:
# Python divides the operators in the following groups:

# Arithmetic operators
# Assignment operators
# Comparison operators
# Logical operators
# Identity operators
# Membership operators
# Bitwise operators

# Arithmetic Operators

In [2]:
# Arithmetic operators are used with numeric values to perform common mathematical operations.

# Operator	           Name	               Example
# +	                   Addition	           x + y
# -	                   Subtraction	       x - y
# *	                   Multiplication	     x * y
# /	                   Division	           x / y
# %	                   Modulus	           x % y
# **	                 Exponentiation	     x ** y
# //	                 Floor division	     x // y

In [3]:
# +	                   Addition	           x + y

x = 5
y = 3

print(x + y)

8

In [11]:
# -	                   Subtraction	       x - y

x = 5
y = 3

print(x - y)

2

In [13]:
# *	                   Multiplication	     x * y

x = 5
y = 3

print(x * y)

15

In [15]:
# /	                   Division	           x / y

x = 12
y = 3

print(x / y)

4.0

In [16]:
# %	                   Modulus	           x % y

x = 5
y = 2

print(x % y)

1

In [17]:
# **	                 Exponentiation	     x ** y

x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

In [18]:
# //	                 Floor division	     x // y

x = 15
y = 2

print(x // y)

#the floor division // rounds the result down to the nearest whole number

7

# Assignment Operators

In [19]:
# Assignment operators are used to assign values to variables.

# Operator	               Example	          Same As
# =	                       x = 5	            x = 5
# +=	                     x += 3	            x = x + 3
# -=	                     x -= 3	            x = x - 3
# *=	                     x *= 3	            x = x * 3
# /=	                     x /= 3	            x = x / 3
# %=	                     x %= 3	            x = x % 3
# //=	                     x //= 3	          x = x // 3
# **=	                     x **= 3	          x = x ** 3
# &=	                     x &= 3	            x = x & 3
# |=	                     x |= 3	            x = x | 3
# ^=	                     x ^= 3	            x = x ^ 3
# >>=	                     x >>= 3	          x = x >> 3
# <<=	                     x <<= 3	          x = x << 3
# :=	                     print(x := 3)	    x = 3
#                                             print(x)

In [20]:
# =	                       x = 5	            x = 5

x = 5

print(x)

5

In [21]:
# +=	                     x += 3	            x = x + 3

x = 5
x += 3

print(x)

8

In [22]:
# -=	                     x -= 3	            x = x - 3

x = 5
x -= 3

print(x)

2

In [23]:
# *=	                     x *= 3	            x = x * 3

x = 5
x *= 3

print(x)

15

In [24]:
# /=	                     x /= 3	            x = x / 3

x = 5
x /= 3

print(x)

1.6666666666666667

In [27]:
# %=	                     x %= 3	            x = x % 3

x = 5
x %= 3

print(x)

2

In [28]:
# //=	                     x //= 3	          x = x // 3

x = 5
x //= 3

print(x)

1

In [29]:
# **=	                     x **= 3	          x = x ** 3

x = 5
x **= 3

print(x)

125

In [34]:
# &=	                     x &= 3	            x = x & 3

x = 5
x &= 3

print(x)

1

In [37]:
# |=	                     x |= 3	            x = x | 3

x = 5
x |= 3

print(x)

7